body {
    background-color: #2A2C39;
    font-family: 'Cardo', serif;
    font-size: 36px;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    color: #D6DEE0;
}

P.blockvideos {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    color: #D6DEE0;
}

P.headertext {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    color: #ffffff;
    text-align: center;
}

/* unvisited link */
a:link {
    color: #D6DEE0;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #D6DEE0;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #D6DEE0;
    text-decoration: none;
}

table, {
   width: 100%;
   text-align: left;
   padding: 15px;
   color: #D6DEE0;
}

th, td {
    overflow: hidden;
    width: 300px;
    color: #D6DEE0;
}